#navbar-container{
	display:flex;
	flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color:var(--nav-footer-bg-color);
}
header{
    height:50px;
    position:fixed;
    top:0;
    width:100%;
    background-color:var(--nav-footer-bg-color);
}
#navbar-start{
    display:flex;
    flex-grow:1;
    padding:10px;
}
#navbar-center{
    display:flex;
    flex-grow:1;
    justify-content: flex-end;
}
    #navbar-center ul{
        display:flex;

    }
    #navbar-center li{
        padding: 10px;
    }
#navbar-end{
    display:flex;
    flex-grow:1;

}