#navbar-container{
	display:flex !important;
	flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    height: 50px !important;
    background-color:var(--nav-footer-bg-color) !important;
}
header{
    height:50px !important;
    position:fixed !important;
    top:0 !important;
    width:100% !important;
    background-color:var(--nav-footer-bg-color) !important;
    margin-: 0px !important;;
}
#navbar-start{
    display:flex !important;
    flex-grow:1 !important;
    padding:10px !important;
}
#navbar-center{
    display:flex !important;
    flex-grow:1 !important;
    justify-content: flex-end !important;
}
    #navbar-center ul{
        display:flex !important;
        text-decoration: none !important;
        justify-content: center !important;
    }
    #navbar-center li{
        padding: 10px !important;
    }
    #navbar-center li a{
        text-decoration:none !important;
        color:white  !important;
    }
#navbar-end{
    display:flex !important;
    flex-grow:1 !important;

}